@model DepartmentApp.Models.ViewModels.PersonViewModel

<form method="post" asp-action="Update">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <input asp-for="@Model.Person.Id" hidden />
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Person</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Person.FirstName"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="@Model.Person.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.Person.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Person.LastName"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="@Model.Person.LastName" class="form-control" />
                        <span asp-validation-for="@Model.Person.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Person.DepartmentId"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <select asp-for="@Model.Person.DepartmentId" asp-items="@Model.DepartmentDropDown" class="form-control">
                            <option selected>-- Select Department --</option>
                        </select>
                        <span asp-validation-for="@Model.Person.DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}

